*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import "./variables/tamanios";
@import "./variables/colores";
@import "./secciones/index";
@import "./secciones/contacto";
@import "./secciones/juga";
@import "./secciones/quienessomos";
@import "./secciones/tableros";
@import "./variables/mediaqueries";