
@media (max-width: 768px) {
    .container {
      width: 100%;
      max-width: none;
    }

    .imgHeader{
        height: 100px;
    }
    .imgMvl{
        height: 400px;
        width: 550px;
    }
    .tamañoAV{
        height: 20px;

    }
    .aInput{
        width: 80px;
    }
    .links2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .tamañoJu{
        height: 600px;
    }

  }

  @media (max-width: 575px){

    .section-flex{
        display: flex;
        flex-direction: column;
        justify-content:flex-end;
    }
    .links2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .imgMvl{
        height: 200px;
        width: 350px;
        
    }
    

}



  @media (max-width: 425px){

    .section-flex{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
    }
    
    
    
    .imgMvl{
        height: 200px;
        width: 350px;
        
    }
    .links2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .tamañoJu{
        display: none;
    }
    .resolucionJ{
        display: inline;
    }

    .map1{
        margin-top: 30px;
        margin-bottom: 30px;
        height: 350px;
    }
    

}

@media (max-width: 375px){

    .mainI{
        height: 80vh;
    }
    .mainJ{
        height: 80vh;
    }
    .move{
        font-size: 17px;
    
    }

    .tituloI{
        font-size: 30px;
        font-weight: bolder;
    }

    .tamañoH2{
        font-size: 30px;
    }
    .juga{
        .desplegable{
            .list{
                
                .subLi{
                     font-size: 15px;
                     
                
                 }
            }
        }
    }

    .juga:hover {    
        
       .desplegable{ 
        width: 100px;
        display:block;
        background-color: black;
        list-style: none;
        padding: 0px;
    /* box-shadow: 3px 3px blanchedalmond; */
    border:solid 1px white;
         
        .list{
            
            padding: 5px;
            margin-top: 2px;
            text-align: start;
        }
        .subLi{
            font-size: 15px;
            color: white;
            
            
            
        }
        .subLi:hover{
                color: rgb(0, 119, 255);
            }
        }       
         
    }

    

    .titulo8{
        font-size: 30px;
        font-weight: 30px;
    }

    .imgMvl{
        height: 200px;
        width: 300px;
        
    }
    .tamañoAV{
        height: 15px;
        width: 20px;

    }
    .resolucion{
        display: inline;
    }
    iframe{
        display: none;
    }
    .tamañoT{
        height: 150px;
    }
    
    .tamañoTQ{
    
        
       
        font-size: 10px;
        font-weight: bold;
        text-align: center;
    }

}  
