
@media (max-width: 768px) {
    .container {
      width: 100%;
      max-width: none;
    }

    .imgHeader{
        height: 100px;
    }
    .imgMvl{
        height: 400px;
        width: 550px;
    }
    .tamañoAV{
        height: 20px;

    }
    .aInput{
        width: 80px;
    }
    .links2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .tamañoJu{
        height: 600px;
    }
    
    .mainT{

        
        .tamañoT{
            width: 300px;
    }

        .grilla {  
                grid-auto-columns: 1fr; 
                grid-auto-rows: 1fr; 
                grid-template-columns: 1fr; 
                grid-template-rows: 1fr 1fr; 
                grid-template-areas: 
                "."
                "."; 
                
            }
            
        }

  }

  @media (max-width: 575px){

    .section-flex{
        display: flex;
        flex-direction: column;
        justify-content:flex-end;
    }
    .links2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .imgMvl{
        height: 200px;
        width: 350px;
        
    }
    

}



  @media (max-width: 425px){
    .background{
       height: 500px;
    }
    .section-flex{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
    }
    
    
    
    .imgMvl{
        height: 200px;
        width: 350px;
        
    }
    .links2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .tamañoJu{
        display: none;
    }
    .resolucionJ{
        display: inline;
    }

    .map1{
        margin-top: 30px;
        margin-bottom: 30px;
        height: 350px;
    }
    .mainT{
        .vinilT{
            
            width: 350px;
        }
        .tripleT{
            
            width: 350px;
        }
        .maderaT{
            
            
            width: 350px;
        }
        .imantadoT{
            
            
            width: 350px;
        }
    }

    .mainT{
        
     
        .tamañoT{
            height: 125px;
            width: 200px;
        }
            
        
        .vinilT{
            height: 375px;
            width: 250px;
        }
        .tripleT{
            height: 375px;
            width: 250px;
        }
        .maderaT{
            
            height: 385px;
            width: 250px;
        }
        .imantadoT{
            
            height: 375px;
            width: 250px;
        }
    }    

}

@media (max-width: 375px){
    
    .mainI{
        height: 80vh;
    }
    .mainJ{
        height: 80vh;
         .resolucionJ{
        margin-bottom: 200px;
        }
        .resolucion{
            display: inline;
        }
        iframe{
            display: none;
        }
    }
    .move{
        font-size: 17px;
    
    }
    .mainQ{
        .tamañoTQ{
            font-size: 15px;
            font-weight: bold;
            text-align: center;
        }
        
    }

    .tituloN{
        font-size: 30px;
        font-weight: bolder;
    }
    .tituloI{
        font-size: 30px;
        font-weight: bolder;
    }

    .tamañoH2{
        font-size: 30px;
    }
    .juga{
        .desplegable{
            .list{
                
                .subLi{
                     font-size: 15px;
                     
                
                 }
            }
        }
    }

    .juga:hover {    
        
       .desplegable{ 
        width: 100px;
        display:block;
        background-color: black;
        list-style: none;
        padding: 0px;
    /* box-shadow: 3px 3px blanchedalmond; */
    border:solid 1px white;
         
        .list{
            
            padding: 5px;
            margin-top: 2px;
            text-align: start;
        }
        .subLi{
            font-size: 15px;
            color: white;
            
            
            
        }
        .subLi:hover{
                color: rgb(0, 119, 255);
            }
        }       
         
    }

    

    .titulo8{
        font-size: 30px;
        font-weight: 30px;
    }

    .imgMvl{
        height: 200px;
        width: 300px;
        
    }
    .tamañoAV{
        height: 15px;
        width: 20px;

    }
   
    .tamañoT{
        height: 150px;
    }
    
    

}  
