.mainC{
    height: 800px;
}

.tamañoInput{

    width: 600px;
}
.largoInput{
    height: 500px;
}

.tamañoH2{
    margin-top: 20px;
    font-size: 40px;
    font-family: 'Josefin Slab', serif;
    font-family: 'Rubik Mono One', sans-serif;
}
