body{
    background-color: $colorBody;
}
header{
    background-color: $colorHeader;
}

.titulo1{
    @extend %estiloNombre;
}

.align{
    flex-grow: 0;
}

.imgHeader{
    height: 120px;
    padding-bottom: 10px;
    border-radius: 50px;
}
  .desplegable{
            position: absolute;
            display: none;
        }
        
.juga:hover {    
        color: yellow;
       .desplegable{ 
        width: 140px;
        display:block;
        background-color: black;
        list-style: none;
        padding: 10px;
    /* box-shadow: 3px 3px blanchedalmond; */
    border:solid 1px white;
         
        .list{
            
            padding: 5px;
            margin-top: 10px;
            text-align: start;
        }
        .subLi{
            font-size: 20px;
            color: white;
            
            
            
        }
        .subLi:hover{
                color: rgb(0, 119, 255);
            }
        }       
         
    }
    

.move{
    padding-right: 10px;
    list-style: none;
    color: white;
    font-size: 23px;
        
  

    

}

.color{
    color: white;
}



a{
    text-decoration: none;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}
main{
    background-color: $colorMain;
}

.tituloI{
    font-family: 'Josefin Slab', serif;
    font-family: 'Rubik Mono One', sans-serif;
    margin-top: 50px;
    font-size: 50px;
    font-weight: bolder;
}

.textoI{
    
    margin-top: 50px;
    font-size: 25px;
}

.tituloN{
    font-family: 'Josefin Slab', serif;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    margin-top: 50px;
    margin-bottom: 12px;
}
.titulo8{
    font-family: 'Josefin Slab', serif;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 40px ;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: bolder;
    
}
.imgMvl{
    height: 500px;
    width: 900px;
}
.resolucion{
    display: none;
}

iframe{
    height: 422px;
    width: 400px;

}

.footer{
    background-color: $colorFooter;
    height: $tFooter;
}
iframe{
    height: 500px;
    width: 300px;
}
.linksFooterPs{
    height: 100px;
}
.linksFooterPs img{
    height: 30px;
}