.map1{
    margin-top: 30px;
    margin-bottom: 30px;
    height: 850px;
}



.mainQ{


    .tamañoTQ{
        @include fontStyle(black,25px,center,bold);

        margin-top: 0px;
        margin-bottom: 40px;
        
        
        
    }
}


