.map1{
    margin-top: 30px;
    margin-bottom: 30px;
    height: 850px;
}
.TituloQS {
    font-size: 50px;
}



.tamañoTQ{
    
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}