
.mainT{
    background-color: white;
}

.tamañoT{
    height: 200px;
}
.tituloT{
    margin-bottom: 80px;
    font-family: 'Josefin Slab', serif;
    font-family: 'Rubik Mono One', sans-serif;
}

.vinilT{
    margin-top: 50px;
}
.tripleT{
    margin-top: 50px;
}
.maderaT{
    margin-top: 80px;
}
.imantadoT{
    margin-top: 80px;
    margin-bottom: 10px;
}
.linkC{
    font-size: 30px;
    border: solid 2px;
    color: black;
    padding: 5px;
    border-radius: 20px;
}