
.mainT{
    background-color: white;
    .grilla {  display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-auto-columns: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        justify-content: end;
        align-content: space-around;
        grid-template-areas:
          ". ."
          ". .";
          justify-items: center; 
          text-align: center;
      }
      .tamañoT{
        height: 200px;
    }
    .tituloT{
        margin-bottom: 80px;
        
    }
    
    .vinilT{
        margin-top: 50px;      
    }
    .tripleT{
        margin-top: 50px;
    }
    .maderaT{
        margin-top: 80px;
        margin-bottom: 5px;
    }
    .imantadoT{
        margin-top: 80px;
        margin-bottom: 5px;
    }
    .linkC{
        font-size: 30px;
        border: solid 2px;
        color: black;
        padding: 5px;
        border-radius: 20px;
    }  


}

.linkPadding{
    padding: 15px;
}



